<html>
<head>
</head>
<body>
  <h2>Confirmation : </h2>
  <hr>
  <h5>Step :  3 of 3 | Processing your Order | </h5>
  <hr>
  <h4>Vineet Srivastav</h4>
  <h4>9999999999</h4>
  <h5>Amount paid : Rs. 300</h5>
  <h5>Method of Payment : Paytm</h5>
  <h5>ORDER ID : ABC123456XYZ</h5>
  <hr>
    <h5><b style="color:green;">In Line</b> -> In Kitchen -> Ready for Delivery -> On the way -> Delivered </h5>
  <hr>
  <h4>Order details :</h4>
  <table>
    <tr>
      <th>S.no.</th>
      <th>Name</th>
      <th>Quantity</th>
      <th>Price</th>
    </tr>
    <tr>
      <td>1</td>
      <td>Veg Maggie</td>
      <td>3</td>
      <td>120</td>
    </tr>

    </tr>
  </table>
</body>
</html>
