<html>
  <head>
  {% load staticfiles %}
     <link rel="stylesheet" type="text/css" href="{% static 'order/vendors/css/normalize.css'%}" >
     <link rel="stylesheet" type="text/css" href="{% static 'order/vendors/css/Grid.css'%}" >
     <link rel="stylesheet" type="text/css" href="{% static 'order/vendors/css/ionicons.min.css'%}" >
     <link rel="stylesheet" type="text/css" href="{% static 'order/resources/css/style.css'%}" >
     <link href="https://fonts.googleapis.com/css?family=Lato:100,300,300i,400" rel="stylesheet">

     <title>Night | Canteen</title>
  </head>
<body>
            <header>

            <nav>
                <div class="row">
                    <img src="{% static 'order/resources/img/37976.svg'%}" alt="logo" class="logo">
                    <ul class="main-nav">
                        <li><a href="#">Why us ?</a></li>
                        <li><a href="#">login</a></li>
                        <li><a href="#">Sign up</a></li>
                    </ul>
                </div>
            </nav>
                <div class="hero-text-box">
                    <h1>Background image is fake. <br> Ye sab nai milta yaha.</h1>
                    <a class="btn btn-full" href="#">I'm Hungry</a>
                    <a class="btn btn-ghost" href="#">How it works</a>
                </div>
            </header>

            <section class="section-features">
                <div class="row">
                    <h2>
                        firse koi chudaap sa dialogue
                    </h2>
                    <p class="long-copy">
                        Good people, Good Food, Good times.
                    </p>

                </div>
                <div class="row">
                    <div class="col span-1-of-4 box">
                        <i class="ion-ios-bolt-outline icon-big"></i>

                        <h3>
                            Flash delivers our food
                        </h3>
                        <p>
                            40 mins max. <br>
                            Flash is fast, our cook is not.
                        </p>

                    </div>
                    <div class="col span-1-of-4 box">
                        <i class="ion-ios-pricetags-outline icon-big"></i>
                            <h3>
                                Cheapest Food
                            </h3>
                            <br>
                            <p>
                                Does 150rs french fry screams <i>aukaat</i> at your face ? <br>
                                Sahi jageh aaye ho tum.
                            </p>

                        </div>
                        <div class="col span-1-of-4 box ">
                            <i class="ion-ios-time-outline icon-big"></i>
                                <h3>
                                    10pm to 6am
                                </h3>
                                <br>
                                <p>
                                   Out of stock hua toh baat alag hain.
                                </p>

                            </div>
                            <div class="col span-1-of-4 box">
                                <i class="ion-ios-checkmark-outline icon-big"></i>
                                    <h3>
                                        For quality and taste
                                    </h3>
                                    <p>
                                       lel
                                    </p>

                                </div>
                </div>
            </section>
            <form action="makeorder" method="get">
            <section class="section-meals">
                <ul class="meals-showcase clearfix">
                  {% for food in all_foods %}
                    <li>
                      <label>
                            <figure>
                                <img src="{% static 'order/resources/img/1.jpg'%}" class="img-check" alt="{{ food.name }}">
                                <input type="checkbox" name="{{ food.id }}" value="1" style="display:none;" autocomplete="off">
                                <p class="text">{{ food.name }}</p>
                            </figure>
                      </label>
                    </li>
                    {% endfor %}
                    <input type="submit" value="submit kijiye" />
                </ul>
            </section>
            </form>


            <section class="section-steps">
                <div class="row">
                    <h2>
                        How It Works
                    </h2>
                    <div class="row">
                        <div class="col span-1-of-2 steps-box">
                            <img src="{% static 'order/resources/img/phone.png'%}" alt="" class="app-screen">

                        </div>
                        <div class="col span-1-of-2 steps-box">
                            <div class="work-steps">
                                <div>1</div>
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                </p>
                            </div>
                            <div class="work-steps">
                                    <div>2</div>
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                    </p>
                                </div>
                                <div class="work-steps">
                                        <div>3</div>
                                        <p>
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                        </p>
                                    </div>
                        </div>

                    </div>

                </div>
            </section>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $(".img-check").click(function(){
    				$(this).toggleClass("check");
    			});
        });
    </script>
</body>

</html>
